.brand {
  font-family: "Literata", serif;
  position: absolute;
  color: white;
  font-size: 5rem;
  margin: 2rem;
  z-index: 8;
  top: 23rem;
  right: 0;
  text-shadow: 3px 3px 2px #424242;
}
@media (max-width: 1167px) {
  .brand {
    font-size: 4.3rem;
  }
}
@media (max-width: 767px) {
  .brand {
    font-size: 3.5rem;
  }
}
